{% extends "base.html" %}

{% block content1 %}
    <div id="page-wrapper">
        <div class="graphs">
     	<div class="list_of_members">
				<div class="visitors">
					<h4>TOTAL <strong>VISITOR</strong></h4>
					<h3>{{ totalvistor }}</h3>
					<p>{{ todayvistor }} New Today </p>
					<a href="#"><i class="go"></i></a>
					<div class="clearfix"></div>
				</div>
				<div class="sales">
					<h4>TOTAL <strong>SALE</strong></h4>
					<h3>13,370</h3>
					<p>400 New Today </p>
					<a href="#"><i class="go"></i></a>
					<div class="clearfix"></div>
				</div>
				<div class="users">
					<h4>TOTAL <strong>USER</strong></h4>
					<h3>15,200</h3>
					<p>470 New Today </p>
					<a href="#"><i class="go"></i></a>
					<div class="clearfix"></div>
				</div>
				<div class="clearfix"></div>


        	 </div>
        	<div class="clearfix"> </div>
      </div>



</div>
{% endblock %}